@page "/checks"
@using MauiAppBlazor.Models;
@using MauiAppBlazor.Service;
@using MauiAppBlazor.Service.Contract;






@if (CheckCatalogs == null)
{
    <DisplaySpinner />
}
else
{
    <h3 class="mb-5">Products</h3>

    int productCount = CheckCatalogs.Count();

    @if (productCount > 0)
    {
        <div class="row mt-3 ">
            @foreach (var сheck in CheckCatalogs)
            {
                <div class="col-md-3 mb-2">
                    <a>
                        <div class="card h-100 min-vh-75">
                            <div class="card-body">
                                <h5 class="card-title mb-3">
                                    Номер чеку: &nbsp @сheck.Id
                                </h5>
                                <p class="card-text">
                                    @foreach (var prodGroup in сheck.Products)
                                    {
                                        <div class="card mb-2 mt-2">
                                            <div class="row">
                                                <div class="card-body col-md-3">
                                                    <h5 class="card-title mb-3">
                                                        @prodGroup.Name &nbsp @prodGroup.Price &nbsp X &nbsp @prodGroup.Amount &nbsp = &nbsp @prodGroup.TotalPrice
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </p>
                                <p class="card-text">Вся сума:&nbsp @сheck.Price </p>
                                <p class="card-text">@сheck.Date.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

    }
}





@code {

    public IEnumerable<Сheck> CheckCatalogs{ get; set; }

    [Inject]
    public ICheckService CheckService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CheckCatalogs = await CheckService.GetItems();
    }


}
