@page "/checks"
@using MauiAppBlazor.Models;
@using MauiAppBlazor.Service;
@using MauiAppBlazor.Service.Contract;






@if (CheckCatalogs == null)
{
    <DisplaySpinner />
}
else
{
    <h3 class="mb-5">Products</h3>

    int productCount = CheckCatalogs.Count();

    @if (productCount > 0)
    {
        <div class="row mt-3 ">
            @foreach (var сheck in CheckCatalogs)
            {
                <div class="col-md-3 mb-2">
                    <a>
                        <div class="card h-100 min-vh-75">
                           
                            <CheckView CheckCatalogs="@сheck.Products" TitleText="" TotalPrice="@сheck.Price" Date="@сheck.Date" />

                        </div>
                    </a>
                </div>
            }
        </div>

    }
}





@code {

    public IEnumerable<Сheck> CheckCatalogs{ get; set; }

    [Inject]
    public ICheckService CheckService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CheckCatalogs = await CheckService.GetItems();
    }


}
